.ChatContainer{
    background-image: url('../../assets/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;

    &__chatInput{
        min-width: 50%;
        height: 40px;
        margin-top: 8px;
        outline: none;
    }

    &__footer{
        min-height: 60px;
        width: 100%;
        background: rgb(42, 42, 169);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}