.ChatContainer{
    background-image: url('../../assets/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    position: absolute;
    width: 100%;

    &__chatList{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    &__chatListContainer{
        margin-bottom: 100px;
        overflow: scroll;
    }

    &__author{
        font-weight: 300;
        font-family: 'Courier New', Courier, monospace;
        color: grey;
    }
    &__message{
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: grey;
    }

    &__chatInput{
        min-width: 50%;
        height: 40px;
        margin-top: 8px;
        outline: none;
        padding-left: 2px;
        word-break: break-word;
        resize: none;
        &::placeholder{
            line-height: 40px;
        }
    }

    &__footer{
        min-height: 60px;
        width: 100%;
        background: rgb(42, 42, 169);
        bottom: 0;
        position: absolute;
        position: fixed;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &__newChatContainer{
       
        float: right;
        margin-right: 50px;
        margin-bottom: 30px;

    }
    &__newChat{
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: lightyellow;
        margin-top: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        :nth-child(2){
            align-self: flex-end;
        }
    }
}

@media screen and (max-width:600px) {
    .ChatContainer{
        &__chatListContainer{
           margin-left: -70px;
        }
     
    }
}